/*
0-600px   phone
600-900px Tablet portrait
900-100px Tablet landscape
1200-1900] is where our normal styles apply
1800 +: Big desktop


$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop


*/
/* line 1, sass/abstracts/_variables.scss */
:root {
  --color-primary: #000000;
  --color-primary-light: #1a283b;
  --color-primary-2: #0d1117;
  --color-primary-3: #c4c4c4;
  --color-primary-4: #6cace4;
  --color-primary-5: #2c2b2b;
  --color-light: #fefcfb;
  --color-dark: #a3b3bc;
  --color-secondary-1: #9845e8;
  --color-secondary-2: #33d2ff;
  --color-secondary-3: #dd5789;
  --color-tertiary: #6964de;
  --color-tertiary-2: #fca6e9;
  --color-tertiary-3: #f4426c;
  --color-tertiary-4: #fbf2b1;
  --color-tertiary-5: #d24074;
  --color-tertiary-6: #6518b4;
  --color-white: #fff; }

@font-face {
  font-family: "GT Walsheim Pro";
  src: url(../fonts/GTWalsheimPro-Medium.ttf); }

/* line 6, sass/base/_base.scss */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

/* line 14, sass/base/_base.scss */
html {
  font-size: 62.5%; }
  @media only screen and (max-width: 81em) {
    /* line 14, sass/base/_base.scss */
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 61.9375em) {
    /* line 14, sass/base/_base.scss */
    html {
      font-size: 44%; } }
  @media only screen and (min-width: 90em) {
    /* line 14, sass/base/_base.scss */
    html {
      font-size: 62.5%; } }

/* line 28, sass/base/_base.scss */
body {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  background-color: var(--color-primary-2); }

/* line 1, sass/base/_typography.scss */
.paragraph-primary--sub {
  color: var(--color-dark);
  font-size: 2rem;
  font-family: "poppins";
  font-style: normal;
  font-weight: 300;
  line-height: 2.4rem;
  line-height: 2;
  text-align: justify; }

/* line 12, sass/base/_typography.scss */
.header-secondary-sub {
  font-family: "poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 2.9rem;
  /* identical to box height */
  color: var(--color-light); }

/* line 20, sass/base/_typography.scss */
.paragraph-secondary--sub {
  font-family: "poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-primary-3); }

/* line 27, sass/base/_typography.scss */
.header-primary-sub {
  font-family: "poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: var(--color-light); }

/* line 35, sass/base/_typography.scss */
.paragraph-secondary--sub-1 {
  font-family: "poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-primary-4); }

/* line 42, sass/base/_typography.scss */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 16.1rem; }
  /* line 49, sass/base/_typography.scss */
  .intro__name {
    font-family: "GT Walsheim Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 9.6rem;
    line-height: 11rem;
    /* identical to box height */
    background: linear-gradient(89.81deg, var(--color-secondary-1) -1.72%, var(--color-secondary-2) 54.05%, var(--color-secondary-2) 99.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent; }

/* line 64, sass/base/_typography.scss */
.header-sub {
  font-family: "poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5rem; }

/* line 1, sass/components/_button.scss */
.btn-gradient {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--color-light);
  padding: 2rem 6rem;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent; }

/* line 13, sass/components/_button.scss */
.btn-row__email {
  background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, linear-gradient(to right, var(--color-secondary-1), var(--color-secondary-2)) border-box; }

/* line 18, sass/components/_button.scss */
.btn-row__linkedin {
  background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, linear-gradient(to right, var(--color-tertiary), var(--color-tertiary-2)) border-box; }

/* line 22, sass/components/_button.scss */
.btn-row__slack {
  background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, linear-gradient(to right, var(--color-tertiary-3), var(--color-tertiary-4)) border-box; }

/* line 26, sass/components/_button.scss */
.btn-row__github {
  background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, linear-gradient(to right, var(--color-tertiary-5), var(--color-tertiary-6)) border-box; }

/* line 30, sass/components/_button.scss */
.btn-row__link {
  background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, linear-gradient(to right, var(--color-secondary-1), var(--color-secondary-2)) border-box; }

/* line 1, sass/components/gridCard.scss */
.projects {
  margin-bottom: 15rem; }

/* line 5, sass/components/gridCard.scss */
.projects__list {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 80px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  color: var(--color-light); }
  @media only screen and (max-width: 61.9375em) {
    /* line 5, sass/components/gridCard.scss */
    .projects__list {
      grid-auto-flow: row;
      gap: 40px; } }
  /* line 16, sass/components/gridCard.scss */
  .projects__list-items {
    grid-area: span 1 / span 1 / span 1 / span 1; }
  /* line 19, sass/components/gridCard.scss */
  .projects__list-link, .projects__list-link:visited, .projects__list:link {
    text-decoration: none;
    color: inherit; }
  /* line 25, sass/components/gridCard.scss */
  .projects__list-shape {
    width: 100%; }
    /* line 27, sass/components/gridCard.scss */
    .projects__list-shape img {
      width: 100%;
      display: inline-block;
      vertical-align: middle; }
  /* line 33, sass/components/gridCard.scss */
  .projects__list-caption {
    display: flex;
    height: 22rem;
    padding-right: 12rem;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 5rem; }
  /* line 41, sass/components/gridCard.scss */
  .projects__list-github {
    display: flex;
    gap: 29px;
    align-items: center; }
    /* line 45, sass/components/gridCard.scss */
    .projects__list-github object {
      flex: 0 0 20%; }

/* line 1, sass/components/_line.scss */
.line {
  border: 0.5px solid var(--color-primary-light);
  margin-bottom: 5rem; }

/* line 1, sass/pages/_home.scss */
footer {
  margin-top: 17vh; }

/* line 6, sass/pages/_home.scss */
section {
  margin-top: 17vh;
  overflow: hidden; }

/* line 11, sass/pages/_home.scss */
main {
  background-color: var(--color-primary-2); }

/* line 15, sass/pages/_home.scss */
.hero__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  padding-right: 8em;
  padding-left: 8em; }
  @media only screen and (min-width: 90em) {
    /* line 15, sass/pages/_home.scss */
    .hero__container {
      max-width: 1549px; } }

/* line 26, sass/pages/_home.scss */
.hero {
  display: flex;
  flex-direction: column;
  gap: 18rem; }

/* line 32, sass/pages/_home.scss */
.btn-row {
  display: flex; }
  /* line 34, sass/pages/_home.scss */
  .btn-row > *:not(:last-child) {
    margin-right: 2rem; }

/* line 39, sass/pages/_home.scss */
.btn-row__icon {
  display: flex;
  align-items: center; }
  /* line 42, sass/pages/_home.scss */
  .btn-row__icon object {
    margin-right: 1rem; }

/* line 47, sass/pages/_home.scss */
.featured-projects {
  background-color: transparent; }

/* line 1, sass/layouts/_header.scss */
.header {
  position: sticky;
  top: 0px;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 10rem;
  align-items: center;
  background-color: var(--color-primary-2);
  color: var(--color-light); }
  /* line 11, sass/layouts/_header.scss */
  .header__container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 0rem 26rem;
    padding-right: 8em;
    padding-left: 8rem;
    max-width: 1170px; }
    @media only screen and (min-width: 90em) {
      /* line 11, sass/layouts/_header.scss */
      .header__container {
        max-width: 1549px; } }
  /* line 23, sass/layouts/_header.scss */
  .header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; }

/* line 1, sass/layouts/_navigation.scss */
.header-nav {
  font-family: "poppins";
  font-size: 2rem;
  background-color: transparent; }
  /* line 5, sass/layouts/_navigation.scss */
  .header-nav__list {
    list-style: none;
    display: flex;
    text-decoration: none; }
    /* line 9, sass/layouts/_navigation.scss */
    .header-nav__list > * {
      margin-left: 0rem; }
  /* line 13, sass/layouts/_navigation.scss */
  .header-nav .nav__link {
    color: var(--color-dark);
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 1.5rem;
    font-weight: 300; }
    /* line 19, sass/layouts/_navigation.scss */
    .header-nav .nav__link:hover {
      color: var(--color-white); }

/* line 1, sass/layouts/_workExperience.scss */
.content {
  display: flex;
  color: var(--color-light);
  gap: 6.6rem; }

/* line 7, sass/layouts/_workExperience.scss */
.sidebar {
  flex: 0 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid #1f1e1e; }

/* line 16, sass/layouts/_workExperience.scss */
.experience__description {
  flex: 1; }
  /* line 18, sass/layouts/_workExperience.scss */
  .experience__description--content {
    display: none; }

/* line 22, sass/layouts/_workExperience.scss */
.experience__type {
  display: flex;
  justify-content: space-between; }

/* line 26, sass/layouts/_workExperience.scss */
.experience__skills {
  display: flex;
  flex-direction: column;
  height: 18.2rem;
  justify-content: space-evenly; }

/* line 34, sass/layouts/_workExperience.scss */
.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 0rem; }
  /* line 38, sass/layouts/_workExperience.scss */
  .side-nav__item {
    position: relative; }
    /* line 40, sass/layouts/_workExperience.scss */
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
  /* line 44, sass/layouts/_workExperience.scss */
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  /* line 49, sass/layouts/_workExperience.scss */
  .side-nav__item:active::before {
    background-color: var(--color-primary-5); }
  /* line 52, sass/layouts/_workExperience.scss */
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary-5);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  /* line 63, sass/layouts/_workExperience.scss */
  .side-nav__link,
  .side-nav__link :link,
  .side-nav__link :visited {
    color: var(--color-light);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center; }
  /* line 76, sass/layouts/_workExperience.scss */
  .side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

/* line 84, sass/layouts/_workExperience.scss */
.tabs__content-active {
  display: block; }

/* line 88, sass/layouts/_workExperience.scss */
.side-nav__item--active {
  background-color: var(--color-primary-5);
  transform: scaleY(1);
  width: 100%;
  border-left: 1.5px solid var(--color-light); }

/* line 2, sass/layouts/_footer.scss */
.other-projects__collection {
  display: flex;
  margin-bottom: 15rem; }

/* line 6, sass/layouts/_footer.scss */
.other-projects__main {
  display: flex;
  flex-direction: column;
  height: 27rem;
  justify-content: space-between; }
  /* line 11, sass/layouts/_footer.scss */
  .other-projects__main p {
    width: 50%; }
