:root {
    --color-primary: #000000;
    --color-primary-2: #111111;
    --color-primary-3: #c4c4c4;
    --color-primary-4: #6cace4;
    --color-light: #fefcfb;
    --color-secondary-1: #9845e8;
    --color-secondary-2: #33d2ff;
    --color-secondary-3: #dd5789;
    --color-tertiary: #6964de;
    --color-tertiary-2: #fca6e9;
    --color-tertiary-3: #f4426c;
    --color-tertiary-4: #fbf2b1;
    --color-tertiary-5: #d24074;
    --color-tertiary-6: #6518b4;
}