.btn-gradient {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light);
    padding: 2rem 6rem;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid transparent;
}

.btn-row__email {
    //  background: paintGradient(var(--color-secondary-1), var(--color-secondary-2));
    background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, paintGradient(var(--color-secondary-1), var(--color-secondary-2)) border-box;
}

.btn-row__linkedin {
    background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, paintGradient(var(--color-tertiary), var(--color-tertiary-2)) border-box;
}

.btn-row__slack {
    background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, paintGradient(var(--color-tertiary-3), var(--color-tertiary-4)) border-box;
}

.btn-row__github {
    background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, paintGradient(var(--color-tertiary-5), var(--color-tertiary-6)) border-box;
}

.btn-row__link {
    background: linear-gradient(var(--color-primary-2), var(--color-primary-2)) padding-box, paintGradient(var(--color-secondary-1), var(--color-secondary-2)) border-box;
}