.projects {
    margin-bottom: $margin-bottom-huge;
}

.projects__list {
    display: grid;
    grid-auto-columns: 1fr;
    gap: 80px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    color: var(--color-light);
    @include respond(tab-port) {
        grid-auto-flow: row;
        gap: 40px;
    }
    &-items {
        grid-area: span 1 / span 1 / span 1 / span 1;
    }
    &-link,
    &-link:visited,
    &:link {
        text-decoration: none;
        color: inherit;
    }
    &-shape {
        width: 100%;
        img {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &-caption {
        display: flex;
        height: 22rem;
        padding-right: 12rem;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 5rem;
    }
    &-github {
        display: flex;
        gap: 29px;
        align-items: center;
        object {
            flex: 0 0 20%;
        }
    }
}