.projects__list {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    color: var(--color-light);
    &-link,
    &-link:visited,
    &:link {
        text-decoration: none;
        color: inherit;
    }
    &-shape {
        img {
            width: 100%;
        }
    }
    &-caption {
        display: flex;
        height: 16rem;
        padding-right: 30rem;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: $margin-bottom-small;
    }
    &-github {
        display: flex;
        align-items: center;
        object {
            flex: 0 0 20%;
        }
    }
}