.paragraph-primary--sub {
    color: var(--color-dark);
    font-size: 2rem;
    font-family: "poppins";
    font-style: normal;
    font-weight: 300;
    line-height: 2.4rem;
    line-height: 2;
    text-align: justify;
}

.header-secondary-sub {
    @include Gridframe;
    font-size: 2.4rem;
    line-height: 2.9rem;
    /* identical to box height */
    color: var(--color-light);
}

.paragraph-secondary--sub {
    @include Gridframe;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-primary-3);
}

.header-primary-sub {
    @include Gridframe;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: var(--color-light);
}

.paragraph-secondary--sub-1 {
    @include Gridframe;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-primary-4);
}

.intro {
    height: 38rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 18rem;
    &__name {
        font-family: "GT Walsheim Pro";
        font-style: normal;
        font-weight: 500;
        font-size: 9.6rem;
        line-height: 11rem;
        /* identical to box height */
        background: linear-gradient( 89.81deg, var(--color-secondary-1) -1.72%, var(--color-secondary-2) 54.05%, var(--color-secondary-3) 99.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.header-sub {
    font-family: "poppins";
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: $margin-bottom-small;
}