section,
footer {
    padding: 0rem 26rem;
    margin-top: 17vh;
}

main {
    background-color: var(--color-primary-2);
    // padding: 25rem 0;
    margin-top: 17vh;
}

.hero {
    background-color: transparent;
    width: 100%;
}

.btn-row {
    display: flex;
    &>*:not(:last-child) {
        margin-right: $margin-left-small;
    }
}

.btn-row__icon {
    display: flex;
    align-items: center;
    & object {
        margin-right: 1rem;
    }
}

.featured-projects {
    background-color: transparent;
}